@import url(https://db.onlinewebfonts.com/c/c0cd6ec8ce6d2bbd315a13b62ed13550?family=AdihausDIN);

body {
    font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
    font-weight: lighter;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
}

.wishlist {
    margin-top: 7rem;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wishlist-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    gap: 6rem;
    height: 100%;
}

.wishlist-heading {
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
    width: 100%;
    margin-top: 10rem;
}

.wishlist-heading h2 {
    font-size: 2rem;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    transform: scaleX(1.1);
    margin-left: -1%;
    margin-bottom: 0.5rem;
}

.wishlist-heading p {
    margin-left: -6%;
}

.wishlist-h1 {
    margin-left: 6.5%;
    font-size: 2rem;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    transform: scaleX(1.1);
}

.product-card {
    flex: 0 0 auto;
    width: 300px !important;
    height: 380px;
    margin-right: 10px;
    margin-top: 10px;
    transition: all 0.3s;
    position: relative;
    border: 1px solid transparent;
}

.yellow {
    margin-top: 5rem;
}

.product-container {
    width: 100%;
}

.pre-btn {
    left: 2%;
}

.nxt-btn {
    right: 2%;
}

@media screen and (max-width:1370px) {
    .product-card {
        flex: 0 0 auto;
        width: 280px !important;
        height: 360px;
        margin-right: 10px;
        margin-top: 10px;
        transition: all 0.3s;
        position: relative;
        border: 1px solid transparent;
    }

    .product-container {
        width: 100%;
    }

    .price {
        bottom: 72px !important;
    }
}

@media screen and (max-width:1005px) {
    .wishlist-container {
        width: 100% !important;
    }

    .wishlist-h1 {
        margin-left: 7% !important;
    }

    .wishlist-heading h2 {
        margin-left: -1%;
    }
}

@media screen and (max-width:550px) {
    .wishlist-container {
        width: 100% !important;
    }

    .wishlist-h1 {
        font-size: 1.5rem;
        margin-bottom: -1rem;
        margin-left: 9% !important;
    }

    .wishlist-heading h2 {
        margin-left: -10%;
    }

    .wishlist-heading p {
        margin-left: -15% !important;
    }
}

@media screen and (max-width:430px) {
    .wishlist-container {
        width: 100% !important;
    }

    .wishlist-h1 {
        font-size: 1.5rem;
        margin-bottom: -1rem;
        margin-left: 9% !important;
    }

    .wishlist-heading h2 {
        margin-left: -16% !important;
    }

    .wishlist-heading p {
        margin-left: -22% !important;
    }
}

@media screen and (max-width:350px) {
    .wishlist-heading h2 {
        font-size: 1.5rem;
        margin-left: -20% !important;
    }

    .wishlist-heading p {
        font-size: 0.8rem;
        margin-left: -26% !important;
    }

    .wishlist-h1 {
        font-size: 1rem;
    }
}

/* Footer */
@import url(https://db.onlinewebfonts.com/c/c0cd6ec8ce6d2bbd315a13b62ed13550?family=AdihausDIN);

body {
    margin: 0;
    padding: 0;
    /* font-family: 'AdihausDIN';  */
}

.footer {
    background-color: #f5f5e5;
    align-items: center;
    width: 100%;
    display: flex;
}

.container {
    display: flex;
    column-gap: 3.125rem;
    width: 80%;
    margin: auto;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
    align-content: center;
}

.left-half,
.right-half {
    box-sizing: border-box;
}

.left-half h1 {
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 2.25rem;
    margin: 0px 0px 0.625rem;
    text-decoration: none solid rgb(0, 0, 0);
}

.right-half h2 {
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 2.25rem;
    margin: 0px 0px 0.625rem;

}

.left-half p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375rem;
}

.right-half p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375rem;
}

.blackNavbefore {
    background-color: black;
    color: white;
    padding: 0.938rem;
    display: flex;
    justify-content: space-around;
    font-size: 0.875rem;
    font-weight: 700;
    border-top: transparent;
}

.yellow {
    background-color: #ede734;
    padding: 2.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.yellow .footerCaption {
    margin-left: 20%;
    margin-right: 20%;
    font-weight: bolder;
    font-size: 1.875rem;
    transform: scaleY(0.9);
    flex-wrap: nowrap;
    -webkit-text-stroke-width: 1px;
    width: 50%;
    letter-spacing: 1px;
}

.buttonwrapCss {
    margin-right: 10rem;
    background-color: none;
    border: 1px solid black;
}

.signupButtonCss svg {
    transform: rotate(180deg);
    width: 2rem;
    margin-bottom: 4px;
}

.signupButtonCss {
    align-items: center;
    border: none;
    border-radius: 0;
    cursor: pointer;
    display: flex;
    padding: 7px 10px;
    position: relative;
    width: auto;
    justify-content: flex-start;
    transform: translate(-3px, -3px);
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

.freeCss {
    background-color: black;
    border-color: black;
    color: white;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 20px;
    text-decoration: none;
    transition: 0.2s;
}

.freeCss:hover {
    transform: translate(0px, 0px);
    /* -webkit-tap-highlight-color: rgba(138, 136, 136, 0); */
    opacity: 0.1px;
}

.freeCss:hover {
    color: #767677;
}

.buttonContentCss {
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

.buttonContentCss .material-symbols-sharp {
    font-size: 15rem;
}

.afterblacknav {
    background-color: black;
    font-size: 0.938rem;
    display: flex;
    color: white;
    justify-content: space-around;
}

.afterblacknav ul {
    list-style: none;
}

.afterblacknav li {
    padding: 0.625rem 0.938rem;

}

.afterblacknav a {
    text-decoration: none;
    color: white;
}

.afterblacknav a:hover {
    text-decoration: underline;
}

.footerlist {
    /* width:65%; */
    margin: auto;
    padding-bottom: 1.25rem;
    display: flex;
    justify-content: center;
}

.footerlist h5 {
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.footerlist li {
    list-style: none;
    font-size: 0.875rem;
    margin-bottom: 0.625rem;
    cursor: pointer;
}

.adi-list-product {
    padding: 1.25rem;
}

.adi-list-sports {
    padding: 1.25rem;
}

.adi-list-collections {
    padding: 1.25rem;
}

.adi-list-support {
    padding: 1.25rem;
}

.adi-list-company-info {
    padding: 1.25rem;
}

.adi-list-follow-us {
    padding: 1.25rem;
}

.grayfooter {
    background-color: #282c31;
    /* width:100%; */
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.topcontent {
    color: #D3D7DA;
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 500;
}

.bottomcontent {
    color: #D3D7DA;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500;
}

@media screen and (min-width: 290px) and (max-width: 959px) {
    .footer .container {
        flex-direction: column;
    }

    .footer .left-half,
    .footer .right-half {
        width: 100%;
    }

    .yellow {
        flex-direction: column !important;
    }

    .footerCaption {
        margin: auto;
        text-align: center;
        font-size: 1rem !important;
    }

    .buttonwrapCss {
        /* border: 0.04rem; */
        /* position: absolute; */
        margin-right: 0rem;
    }

    .footerlist {
        display: none;
    }
}

.bar-2 ul {
    gap: 0.9rem !important;
}

@media screen and (min-width:960px) {
    .blackNavbefore {
        display: none;
    }

    .afterblacknav {
        display: none;
    }

    .yellow .footerCaption {
        display: inline-block;

    }

}