
@import url(https://db.onlinewebfonts.com/c/c0cd6ec8ce6d2bbd315a13b62ed13550?family=AdihausDIN);

body {
    font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
    font-weight: lighter;
}
.card .card1:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/d88dfbd1e9f1455485ecaef5010d0b7e_9366/Adicolor_Classics_3-Stripes_Cargo_Pants_Black_HR3364_23_hover_model.jpg');
}

.card .card2:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/8ce24e6e4f7f4ce0b578ae67012f257a_9366/Adicolor_Classics_Cutline_Pant_Black_HK7429_23_hover_model.jpg');
}

.card .card3:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/066547d9931942668dedafd000dc1f32_9366/Adicolor_Seasonal_Archive_Sweat_Pants_Beige_IM4414_23_hover_model.jpg');
}

.card .card4:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/3f1db639b2d444fc983684bc4af058d3_9366/Own_the_Run_Astro_Knit_Pants_Black_HN0806_HM3_hover.jpg');
}

.card .card5:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/ed142c8123a74bc89a77125e45ff3ccc_9366/Tiro_23_League_Training_Pants_Black_IN8174_23_hover_model.jpg');
}

.card .card6:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/76c97483b2fd461baa1cae4b0130aa59_9366/D4T_Training_Pants_Black_HD3571_23_hover_model.jpg');
}

.card .card7:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/2ec2221f4bf540e6b2883a41967caba4_faec/adidas_Basketball_Hoodie_Black_IN4243_HM3_hover.jpg');
}

.card .card8:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/20d8b99329fb4074ac56ada4007e1559_9366/ESSENTIALS_3-STRIPES_PANTS_Black_CE6554_22_model.jpg');
}

.card .card9:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/514823594bd94c5298c3ae1800597724_9366/ESSENTIALS_SINGLE_JERSEY_3_STRIPES_PANT_Blue_CW1399_22_model.jpg');
}

.card .card10:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/48407a98e2da4c54bc91ae1a011c664e_9366/ESSENTIALS_SINGLE_JERSEY_3_STRIPES_PANT_Black_CE6552_21_model.jpg');
}

.card .card11:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/9036cb41ba4444348884af9e0122ecd1_9366/Terrex_Multi_Wind_Jacket_Orange_HM4027_23_hover_model.jpg');
}

.card .card12:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/38b4bb69198d45eab7c3adac01117cfb_9366/ESSENTIALS_3-STRIPES_PANTS_Blue_CE6553_22_model.jpg');
}

.card .card13:hover img {
    content: url('https://assets.adidas.com/images/h_2000,f_auto,q_auto,fl_lossy,c_fill,g_auto/e198c8eef0a24d31a838afa100e41984_9366/NMD_S1_Shoes_White_HQ4465_03_standard.jpg');
}

.card .card14:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/7b23b47dde0c435a867aafbf00f4fc49_9366/NMD_S1_Knit_Shoes_Black_ID4854_03_standard.jpg');
}

.card .card15:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/02be1511e7a74318a43aaf8800ea0520_9366/NMD_R1_Shoes_Black_HP9780_02_standard.jpg');
}

.card .card16:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/f8868539e5234d3d878fafb6014fdab7_9366/NMD_G1_Shoes_Beige_ID2395_03_standard.jpg');
}

.card .card17:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/54ffae8ee90845ddb967af56016b1bc3_9366/NMD_R1_Shoes_Blue_IE2280_03_standard.jpg');
}

.card .card18:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/831ed3e6c4fd4f6b853eaf4601591cfd_9366/NMD_Shoes_White_HQ1651_03_standard.jpg');
}

.card .card19:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/477c3e75c9664e6c983fad0800cb5916_9366/NMD_R1_Shoes_Black_GZ9257_03_standard.jpg');
}

.card .card20:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/d8804b84134149bdaa1eaf5d010827da_9366/NMD_R1_Shoes_White_GY7368_03_standard.jpg');
}

.card .card21:hover img {
    content: url('https://assets.adidas.com/images/h_2000,f_auto,q_auto,fl_lossy,c_fill,g_auto/680f4199aa6e4226b539ad1e00dd1513_9366/NMD_R1_Shoes_White_GZ9260_03_standard.jpg');
}

.card .card22:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/a3fe18350b9b4a1ab10baf8c00d2fc29_9366/NMD_R1_Shoes_Blue_HQ4462_03_standard.jpg');
}

.card .card23:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/cf0da4f2417f4d17b65c6e4190353a63_9366/NMD_S1_Shoes_Grey_ID0360_03_standard.jpg');
}

.card .card24:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/50228de58d514b6dbcafae1e002b7525_9366/NMD_R1_Shoes_Black_GW5698_03_standard.jpg');
}

.card .card25:hover img {
    content: url('');
}

.card .card26:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/bebeba85a39446e18539aef900ba6f32_9366/NMD_S1_Shoes_Black_FZ6381_02_standard_hover.jpg');
}

.card .card27:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/8c3be0f89637477bbf47ae20001a61a1_9366/NMD_R1_Shoes_White_GW5699_02_standard.jpg');
}

.card .card28:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/3681a5b482774c039ddaaf2301531b1f_9366/NMD_S1_RYAT_Shoes_Green_IE4686_02_standard.jpg');
}

.bar-2 ul {
    gap: 0.9rem !important;
}

.navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.4s;
    border-bottom: 1px solid #ECEFF1;
    background-color: white;
    height: 8rem;
    z-index: 99999;
}

.header-black-section {
    font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
    width: 100%;
    background-color: black;
    padding: 12px 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-transform: uppercase;
}

.header-black-section span {
    font-size: 9px;
    font-weight: 600;
    letter-spacing: 2px;
    word-spacing: 1px;
    transform: scaleY(1.2);
}

.header-black-section i {
    font-size: 15px;
}

.bar-2 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px 50px;
}

.bar-2 ul {
    display: flex;
    list-style-type: none;
    gap: 0.3rem;
    font-size: 12px;
    font-weight: lighter;
    align-items: center;
}

.bar-2 ul a {
    text-decoration: none;
    color: black;
}

.bar-2 ul a:hover {
    text-decoration: underline;
}

.bar-2 ul li {
    font-weight: 0;
    cursor: pointer;
}

.bar-2 ul li:hover {
    text-decoration: underline;
}

.header-main-session {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top: 0px !important;
}

.adidas-logo {
    width: 60px;
    height: 60px;
}

.header-menu-section {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.header-menu-section ul {
    display: flex;
    list-style-type: none;
    letter-spacing: 1.5px;
    font-size: 12px;
}

.header-menu-section ul li .menu-bar {
    text-transform: uppercase;
    position: relative;
    border: 3px solid transparent;
    padding: 12px 5px;
    z-index: 99;
    text-decoration: none;
    color: black;
}

.header-menu-section ul li .menu-bar:hover {
    z-index: 20;
    border-bottom: 3px solid black;
    cursor: pointer;
    border-radius: 0 0 4px 4px;
}

.header-menu-section .red:hover {
    border-bottom: 3px solid #E32B2B !important;
    cursor: pointer;
}

.menu-bold {
    font-weight: 550;
    border: none;
}

.menu-bold .red {
    color: #E32B2B !important;
}

.search-section-header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.input-section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ECEFF1;
    padding: 8px 10px;
    width: 12rem;
}

.input-section-header i {
    font-size: 18px;
}

.input-section-header input {
    background-color: #ECEFF1;
    border: none;
    outline: none;
}

.input-section-header input::placeholder {
    color: black;
    letter-spacing: 1px;
}

.logo-section-header {
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo-section-header i {
    font-size: 18px;
}

.cart {
    height: 20px;
}

.logo-section-header {
    display: flex;
}

.user-header {
    position: relative;
    display: flex;
}

.count {
    padding: 4px 8px;
    background-color: #FFD619;
    border-radius: 100%;
    position: absolute;
    top: -16px;
    right: -12px;
    font-size: 10px;
    font-weight: bold;
    animation: bounce 3s cubic-bezier(.25, .1, .25, 1) infinite;
}

.card .card1:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/97fb1c7330fa49debf12af4e0023f5ad_9366/Adicolor_SST_Track_Pants_Red_IC3088_23_hover_model.jpg');
}

.card .card2:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/9a85e5ebe38848e2904fada001058128_9366/adidas_Essential_3-Stripes_Pants_Grey_H65793_02_laydown_hover.jpg');
}

.card .card3:hover img {
    content: url('https://assets.adidas.com/images/h_2000,f_auto,q_auto,fl_lossy,c_fill,g_auto/12f802a32a11471fa7bdada00105ffc2_9366/adidas_Essential_3-Stripes_Pants_Black_H65796_02_laydown_hover.jpg');
}

.card .card4:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/1b407ae6ddf04cd78a6963317cfa8d33_9366/adidas_Z.N.E._Pants_Kids_Turquoise_IB3991_01_laydown.jpg');
}

.card .card5:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/19c17e896d16416b805bae6101406cce_9366/Adicolor_SST_Track_Pants_Blue_HK0323_02_laydown_hover.jpg');
}

.card .card6:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/768101b75b324a47ad8dbcf02f6554f3_9366/adidas_Z.N.E._Pants_Kids_Grey_IK5715_02_laydown_hover.jpg');
}

.card .card7:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/c7a505bd1bb84b3282beafc300960a7e_9366/Graphic_Shorts_and_Tee_Set_Blue_IM1840_03_laydown_hover.jpg');
}

.card .card8:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/99bbf676c7b74a65853faf5f00bd22cc_9366/adidas_x_Classic_LEGOr_Windbreaker_Grey_HB4469_HM2_hover.jpg');
}

.card .card9:hover img {
    content: url('https://assets.adidas.com/images/h_2000,f_auto,q_auto,fl_lossy,c_fill,g_auto/a32681afe243469aaea2afc501212527_9366/Shorts_and_Tee_Set_Yellow_IJ7198_03_laydown_hover.jpg');
}

.card .card10:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/1d35193456c949c48b98af100097c73f_9366/adidas_x_LEGOr_Play_Tee-and-Shorts_Set_Green_HS1149_03_laydown_hover.jpg');
}

.card .card11:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/6f763e62945048bba7fcafc500e4c735_9366/Train_Icons_AEROREADY_3-Stripes_Track_Suit_Turquoise_IJ6423_03_laydown_hover.jpg');
}

.card .card12:hover img {
    content: url('https://assets.adidas.com/images/c_crop,f_auto,fl_lossy,g_north,h_840,q_auto,y_40/h_840/7e807f08600f45858709afc4005fdb8d_9366/Future_Icons_Allover_Print_Sweatshirt_Kids_Grey_IB4034_01_laydown.jpg');
}

.card .card13:hover img {
    content: url('https://assets.adidas.com/images/h_2000,f_auto,q_auto,fl_lossy,c_fill,g_auto/e198c8eef0a24d31a838afa100e41984_9366/NMD_S1_Shoes_White_HQ4465_03_standard.jpg');
}

.card .card14:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/7b23b47dde0c435a867aafbf00f4fc49_9366/NMD_S1_Knit_Shoes_Black_ID4854_03_standard.jpg');
}

.card .card15:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/02be1511e7a74318a43aaf8800ea0520_9366/NMD_R1_Shoes_Black_HP9780_02_standard.jpg');
}

.card .card16:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/f8868539e5234d3d878fafb6014fdab7_9366/NMD_G1_Shoes_Beige_ID2395_03_standard.jpg');
}

.card .card17:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/54ffae8ee90845ddb967af56016b1bc3_9366/NMD_R1_Shoes_Blue_IE2280_03_standard.jpg');
}

.card .card18:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/831ed3e6c4fd4f6b853eaf4601591cfd_9366/NMD_Shoes_White_HQ1651_03_standard.jpg');
}

.card .card19:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/477c3e75c9664e6c983fad0800cb5916_9366/NMD_R1_Shoes_Black_GZ9257_03_standard.jpg');
}

.card .card20:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/d8804b84134149bdaa1eaf5d010827da_9366/NMD_R1_Shoes_White_GY7368_03_standard.jpg');
}

.card .card21:hover img {
    content: url('https://assets.adidas.com/images/h_2000,f_auto,q_auto,fl_lossy,c_fill,g_auto/680f4199aa6e4226b539ad1e00dd1513_9366/NMD_R1_Shoes_White_GZ9260_03_standard.jpg');
}

.card .card22:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/a3fe18350b9b4a1ab10baf8c00d2fc29_9366/NMD_R1_Shoes_Blue_HQ4462_03_standard.jpg');
}

.card .card23:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/cf0da4f2417f4d17b65c6e4190353a63_9366/NMD_S1_Shoes_Grey_ID0360_03_standard.jpg');
}

.card .card24:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/50228de58d514b6dbcafae1e002b7525_9366/NMD_R1_Shoes_Black_GW5698_03_standard.jpg');
}

.card .card25:hover img {
    content: url('');
}

.card .card26:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/bebeba85a39446e18539aef900ba6f32_9366/NMD_S1_Shoes_Black_FZ6381_02_standard_hover.jpg');
}

.card .card27:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/8c3be0f89637477bbf47ae20001a61a1_9366/NMD_R1_Shoes_White_GW5699_02_standard.jpg');
}

.card .card28:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/3681a5b482774c039ddaaf2301531b1f_9366/NMD_S1_RYAT_Shoes_Green_IE4686_02_standard.jpg');
}


.bar-2 ul {
    gap: 0.9rem !important;
}

.navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.4s;
    border-bottom: 1px solid #ECEFF1;
    background-color: white;
    height: 8rem;
    z-index: 99999;
}

.header-black-section {
    font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
    width: 100%;
    background-color: black;
    padding: 12px 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-transform: uppercase;
}

.header-black-section span {
    font-size: 9px;
    font-weight: 600;
    letter-spacing: 2px;
    word-spacing: 1px;
    transform: scaleY(1.2);
}

.header-black-section i {
    font-size: 15px;
}

.bar-2 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px 50px;
}

.bar-2 ul {
    display: flex;
    list-style-type: none;
    gap: 0.3rem;
    font-size: 12px;
    font-weight: lighter;
    align-items: center;
}

.bar-2 ul a {
    text-decoration: none;
    color: black;
}

.bar-2 ul a:hover {
    text-decoration: underline;
}

.bar-2 ul li {
    font-weight: 0;
    cursor: pointer;
}

.bar-2 ul li:hover {
    text-decoration: underline;
}

.header-main-session {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top: 0px !important;
}

.adidas-logo {
    width: 60px;
    height: 60px;
}

.header-menu-section {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.header-menu-section ul {
    display: flex;
    list-style-type: none;
    letter-spacing: 1.5px;
    font-size: 12px;
}

.header-menu-section ul li .menu-bar {
    text-transform: uppercase;
    position: relative;
    border: 3px solid transparent;
    padding: 12px 5px;
    z-index: 99;
    text-decoration: none;
    color: black;
}

.header-menu-section ul li .menu-bar:hover {
    z-index: 20;
    border-bottom: 3px solid black;
    cursor: pointer;
    border-radius: 0 0 4px 4px;
}

.header-menu-section .red:hover {
    border-bottom: 3px solid #E32B2B !important;
    cursor: pointer;
}

.menu-bold {
    font-weight: 550;
    border: none;
}

.menu-bold .red {
    color: #E32B2B !important;
}

.search-section-header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.input-section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ECEFF1;
    padding: 8px 10px;
    width: 12rem;
}

.input-section-header i {
    font-size: 18px;
}

.input-section-header input {
    background-color: #ECEFF1;
    border: none;
    outline: none;
}

.input-section-header input::placeholder {
    color: black;
    letter-spacing: 1px;
}

.logo-section-header {
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo-section-header i {
    font-size: 18px;
}

.cart {
    height: 20px;
}

.logo-section-header {
    display: flex;
}

.user-header {
    position: relative;
    display: flex;
}

.count {
    padding: 4px 8px;
    background-color: #FFD619;
    border-radius: 100%;
    position: absolute;
    top: -16px;
    right: -12px;
    font-size: 10px;
    font-weight: bold;
    animation: bounce 3s cubic-bezier(.25, .1, .25, 1) infinite;
}