<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="footer.css" />
    <link rel="stylesheet" href="./../../mens.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>footerpart</title>
  </head>
  <body>
    <div class="footer">
      <div class="container">
        <div class="left-half">
          <h1>STORIES, STYLES AND SPORTSWEAR AT ADIDAS, SINCE 1949</h1>
          <p>
            Sport keeps us fit. Keeps you mindful. Brings us together. Through
            sport we have the power to change lives. Whether it is through
            stories of inspiring athletes. Helping you to get up and get moving.
            Sportswear featuring the latest technologies, to up your
            performance. Beat your PB. adidas offers a home to the runner, the
            basketball player, the soccer kid, the fitness enthusiast. The
            weekend hiker that loves to escape the city. The yoga teacher that
            spreads the moves. The 3-Stripes are seen in the music scene. On
            stage, at festivals. Our sports clothing keeps you focused before
            that whistle blows. During the race. And at the finish lines. We’re
            here to support creators. Improve their game. Their lives. And
            change the world.
          </p>
          <p>
            adidas is about more than sportswear and workout clothes. We partner
            with the best in the industry to co-create. This way we offer our
            fans the sports apparel and style that match their athletic needs,
            while keeping sustainability in mind. We’re here to support
            creators. Improve their game. Create change. And we think about the
            impact we have on our world.
          </p>
        </div>

        <div class="right-half">
          <h2>WORKOUT CLOTHES, FOR ANY SPORT</h2>
          <p>
            adidas designs for and with athletes of all kinds. Creators, who
            love to change the game. Challenge conventions. Break the rules and
            define new ones. Then break them again. We supply teams and
            individuals with athletic clothing pre-match. To stay focussed. We
            design sports apparel that get you to the finish line. To win the
            match. We support women, with bras and tights made for purpose. From
            low to high support. Maximum comfort. We design, innovate and
            itterate. Testing new technologies in action. On the pitch, the
            tracks, the court, the pool. Retro workout clothes inspire new
            streetwear essentials. Like NMD, Ozweego and our Firebird
            tracksuits. Classic sports models are brought back to life. Like
            Stan Smith. And Superstar. Now seen on the streets and the stages.
          </p>
          <p>
            Through our collections we blur the borders between high fashion and
            high performance. Like our adidas by Stella McCartney athletic
            clothing collection – designed to look the part inside and outside
            of the gym. Or some of our adidas Originals lifestyle pieces, that
            can be worn as sportswear too. Our lives are constantly changing.
            Becoming more and more versatile. And adidas designs with that in
            mind.
          </p>
        </div>
      </div>
    </div>
    <div class="blackNavbefore">
      <div class="lefttext">LOGIN</div>
      <div class="righttext">YOUR BAG (0)</div>
    </div>
    <div class="yellow">
      <span class="footerCaption">JOIN ADIDAS AND GET 15% OFF</span>
      <div class="buttonwrapCss">
        <button type="button" class="signupButtonCss freeCss">
          <span class="buttonContentCss"> SIGN UP FOR FREE</span>
          <span class="material-symbols-sharp"> arrow_right_alt </span>
        </button>
      </div>
    </div>
    <div class="afterblacknav">
      <div class="blackserviceleft">
        <ul>
          <li><a href="#">Delivery</a></li>
          <li><a href="#">Order Tracker</a></li>
          <li><a href="#">Store Finder</a></li>
          <li><a href="#">adiclub terms and conditions</a></li>
        </ul>
      </div>
      <div class="blackserviceright">
        <ul>
          <li><a href="#">Returns & Refunds</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">adiclub</a></li>
        </ul>
      </div>
    </div>
    <div class="footerlist">
      <div class="adi-list-product">
        <h5>PRODUCT</h5>

        <li>Footwear</li>

        <li>Clothing</li>
        <li>Accessories</li>
        <li>Outlet–Sale</li>
        <li>New Arrivals</li>
        <li>Special Offer</li>
        <li>Flat 50% Off!</li>
      </div>
      <div class="adi-list-sports">
        <h5>SPORTS</h5>

        <li>Cricket</li>

        <li>Running</li>
        <li>Football</li>
        <li>Gym/Training</li>
        <li>Tennis</li>
        <li>Outdoor</li>
        <li>Basketball</li>
        <li>Swimming</li>
        <li>Skateboarding</li>
      </div>
      <div class="adi-list-collections">
        <h5>COLLECTIONS</h5>

        <li>Ultraboost</li>

        <li>Superstar</li>
        <li>NMD</li>
        <li>Stan smith</li>
        <li>sustainability</li>
        <li>Predator</li>
        <li>Parley</li>
        <li>adicolor</li>
      </div>
      <div class="adi-list-support">
        <h5>SUPPORT</h5>

        <li>Help</li>

        <li>Customer Services</li>
        <li>Return & Exchanges</li>
        <li>Shipping</li>
        <li>Order Tracking</li>
        <li>Store Locator</li>
        <li>Bra Fit Guide</li>
        <li>adiclub</li>
        <li>adiclub Terms & Conditions</li>
      </div>
      <div class="adi-list-company-info">
        <h5>COMPANY INFO</h5>

        <li>About Us</li>

        <li>Clothing</li>
        <li>Adidas Stories</li>
        <li>adidas apps</li>
        <li>Entities Details</li>
        <li>Press</li>
        <li>Careers</li>
      </div>
      <div class="adi-list-follow-us">
        <h5>FOLLOW US</h5>
        <li>
          <a href="https://www.instagram.com/adidasindia/"
            ><img
              src="NEWinstagram_logo-footer_tcm209-875968.jpeg"
              alt="insta"
            />
          </a>
        </li>
      </div>
    </div>
    <div class="grayfooter">
      <div class="topcontent">
        Privacy Policy | Terms and Conditions | Cookies
      </div>
      <br />
      <div class="bottomcontent">©2021 adidas India Marketing Pvt. Ltd</div>
    </div>
  </body>
</html>
