.card .card1:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auhttps://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/ef03eea1f61c403487376389974f9ffd_9366/Y-3_Front_Webbing_Cap_Grey_IU4629_02_standard_hover.jpg');
}

.card .card2:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/3690685285ec4d09872a843ce78834cb_9366/Y-3_Scarf_Cap_Purple_IU4270_41_detail_hover.jpg');
}

.card .card3:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/4bf9daef294d49ce94c89beb7286750f_9366/Y-3_Vest_Bag_Black_IU4254_02_standard_hover.jpg');
}

.card .card4:hover img {
    content: url('hhttps://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/d8d2f821cdb94145b5f889c31f338b28_9366/Y-3_Graphic_Logo_Hoodie_White_IT7524_22_model.jpg');
}

.card .card5:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/767abb0510ed4d71ad2252c712e99bc5_9366/Y-3_Graphic_Short_Sleeve_Tee_White_IT7522_22_model.jpg');
}

.card .card6:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/ef118af350f9476b8698a35d3b246596_9366/Y-3_Sail_Closure_Long_Sleeve_Tee_Black_IQ2190_22_model.jpg');
}

.card .card7:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/890d5e7244ec4551b26b81346f9e2b43_9366/Y-3_Engineered_Knit_Crop_Top_Yellow_IQ2151_22_model.jpg');
}

.card .card8:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/914c5dbef83248878279d5a24410e23e_9366/Y-3_Engineered_Knit_Tights_Yellow_IQ2149_22_model.jpg');
}

.card .card9:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/8eac964a230743c6b18d1e1300ea866a_9366/Y-3_Graphic_Knit_Cardigan_Black_IQ2138_22_model.jpg');
}

.card .card10:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/91492bc487ee42d0b77e7ab6f8104124_9366/Y-3_Logo_Coach_Jacket_Black_IQ2137_22_model.jpg');
}

.card .card11:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/e2773aa0178d4c128e7f10e04f7f6e10_9366/Y-3_Letterman_Jacket_Black_IQ2133_22_model.jpg');
}

.card .card12:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/7b9fdc16a0294d74b3a03787a7be4f9c_9366/Y-3_Letterman_Jacket_Black_IQ2132_22_model.jpg');
}

.card .card13:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/378042955dd7492f97745ff6ba4a6f74_9366/Y-3_Velvet_Spacer_Cuffed_Pants_Grey_IQ1829_41_detail_hover.jpg');
}

.card .card14:hover img {
    content: url('https://assets.adidas.com/images/c_crop,f_auto,fl_lossy,g_north,h_840,q_auto,y_40/h_840/20e203c2e60e474981a6109dc4f59819_9366/Y-3_Velvet_Spacer_Full-Zip_Hoodie_Grey_IQ1827_01_laydown.jpg');
}

.card .card15:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/d71d75e5be7d4289863121f44deb3ee3_9366/Y-3_Tech_Silk_Zip_Hoodie_-_3-Stripes_Black_IQ1798_22_model.jpg');
}

.card .card16:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/692f939fdd8b43eda63ea347895c8937_9366/Y-3_Sail_Closure_Short_Sleeve_Tee_White_IQ1792_22_model.jpg');
}

.card .card17:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/3a6a597e14fc48c0b1cfe7dc65d48576_9366/Y-3_3-Stripes_Short_Sleeve_Tee_Yellow_IQ1785_22_model.jpg');
}

.card .card18:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/41149de6bf3d42cb9a8889fd49d62d45_9366/Y-3_Running_Bra_Black_IQ0428_22_model.jpg');
}

.card .card19:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/e4eb731d1a204458844b1d5c6ff26474_9366/Y-3_Running_Tight_Shorts_Black_IQ0427_22_model.jpg');
}

.card .card20:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/395c74ba0a2f4f0cb18799005934a816_9366/Y-3_Tech_Silk_Skirt_Black_IP8779_22_model.jpg');
}

.card .card21:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/85c0ef11616c43cb9573c088b909b6d7_9366/Y-3_Graphic_Workwear_Pants_Black_IP7950_22_model.jpg');
}

.card .card22:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/f3ed99660972408484999ca48d12819f_9366/Y-3_Graphic_Long_Sleeve_Workwear_Shirt_Black_IP7948_22_model.jpg');
}

.card .card23:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/2356a8ab6b7a4194b60afb9f81f74be1_9366/Y-3_Graphic_Puffer_Vest_Yellow_IP7940_22_model.jpg');
}

.card .card24:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/1b16c04cdc514945a4088e480ff7a23c_9366/Y-3_Quilted_Jacket_Purple_IP7937_22_model.jpg');
}

.card .card25:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/b6f54e0c23cf4e0080776a034f4cbf89_9366/Y-3_Bomber_Jacket_Purple_IP7934_22_model.jpg');
}

.card .card26:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/3c4d4c7a7a82412790cb423e515777e2_9366/Y-3_Funnel-Neck_Knit_Sweater_Green_IP7933_22_model.jpg');
}

.card .card27:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/43670719cec84354a564018941fd6e30_9366/Y-3_Long_Bomber_Parka_Black_IP7932_22_model.jpg');
}

.card .card28:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/3fabd797926243709584799409b3bc1a_9366/Y-3_Quilted_Jacket_Yellow_IP7930_22_model.jpg');
}