@import url(https://db.onlinewebfonts.com/c/c0cd6ec8ce6d2bbd315a13b62ed13550?family=AdihausDIN);

body {
    font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
    font-weight: lighter;
}

.bar-2 ul {
    gap: 0.9rem !important;
}

.navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.4s;
    border-bottom: 1px solid #ECEFF1;
    background-color: white;
    height: 8rem;
    z-index: 99999;
}

.header-black-section {
    font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
    width: 100%;
    background-color: black;
    padding: 12px 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-transform: uppercase;
}

.header-black-section span {
    font-size: 9px;
    font-weight: 600;
    letter-spacing: 2px;
    word-spacing: 1px;
    transform: scaleY(1.2);
}

.header-black-section i {
    font-size: 15px;
}

.bar-2 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px 50px;
}

.bar-2 ul {
    display: flex;
    list-style-type: none;
    gap: 0.3rem;
    font-size: 12px;
    font-weight: lighter;
    align-items: center;
}

.bar-2 ul a {
    text-decoration: none;
    color: black;
}

.bar-2 ul a:hover {
    text-decoration: underline;
}

.bar-2 ul li {
    font-weight: 0;
    cursor: pointer;
}

.bar-2 ul li:hover {
    text-decoration: underline;
}

.header-main-session {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top: 0px !important;
}

.adidas-logo {
    width: 60px;
    height: 60px;
}

.header-menu-section {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.header-menu-section ul {
    display: flex;
    list-style-type: none;
    letter-spacing: 1.5px;
    font-size: 12px;
}

.header-menu-section ul li .menu-bar {
    text-transform: uppercase;
    position: relative;
    border: 3px solid transparent;
    padding: 12px 5px;
    z-index: 99;
    text-decoration: none;
    color: black;
}

.header-menu-section ul li .menu-bar:hover {
    z-index: 20;
    border-bottom: 3px solid black;
    cursor: pointer;
    border-radius: 0 0 4px 4px;
}

.header-menu-section .red:hover {
    border-bottom: 3px solid #E32B2B !important;
    cursor: pointer;
}

.menu-bold {
    font-weight: 550;
    border: none;
}

.menu-bold .red {
    color: #E32B2B !important;
}

.search-section-header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.input-section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ECEFF1;
    padding: 8px 10px;
    width: 12rem;
}

.input-section-header i {
    font-size: 18px;
}

.input-section-header input {
    background-color: #ECEFF1;
    border: none;
    outline: none;
}

.input-section-header input::placeholder {
    color: black;
    letter-spacing: 1px;
}

.logo-section-header {
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo-section-header i {
    font-size: 18px;
}

.cart {
    height: 20px;
}

.logo-section-header {
    display: flex;
}

.user-header {
    position: relative;
    display: flex;
}

.count {
    padding: 4px 8px;
    background-color: #FFD619;
    border-radius: 100%;
    position: absolute;
    top: -16px;
    right: -12px;
    font-size: 10px;
    font-weight: bold;
    animation: bounce 3s cubic-bezier(.25, .1, .25, 1) infinite;
}


.card .card1:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/a5b262fe50704fbebcb0d99adea69b53_9366/Ultra_4D_Shoes_Black_IG2262_02_standard_hover.jpg');
}

.card .card2:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/1f571eb03cfd4e5792e7ae84003232e1_9366/Ultra_4DFWD_Shoes_Black_GX6632_02_standard_hover.jpg');
}

.card .card3:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/ac13610129764afb99bbaf5d009b5db3_9366/Supernova_2.0_Shoes_Grey_HQ9933_02_standard_hover.jpg');
}

.card .card4:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/db5a63951c5a42f2a3eaae88018a08e1_9366/Galaxy_6_Shoes_Black_GW3848_02_standard_hover.jpg');
}

.card .card5:hover img {
    content: url('https://assets.adidas.com/images/h_2000,f_auto,q_auto,fl_lossy,c_fill,g_auto/4993e0557d224195ace1afb000bc171f_9366/Ultraboost_Light_Red_HQ1402_02_standard_hover.jpg');
}

.card .card6:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/579291ff6f4c4972ad9dab4a00a0c7fc_9366/Ultimashow_Shoes_Black_FX3632_02_standard_hover.jpg');
}

.card .card7:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/93a47e10a8434b8daef4af0e0090d866_9366/WIND_RAISER_SHOES_Blue_GB2514_02_standard_hover.jpg');
}

.card .card8:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/3f3b1b7c155444338733adcd00844fe2_9366/FLUIDFLOW_2.0_RUNNING_SHOE_Blue_EX2102_02_standard_hover.jpg');
}

.card .card9:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/9a3c17f0964044059607af420143011f_9366/Ultraboost_1.0_Shoes_White_HQ6441_010_hover_standard.jpg');
}

.card .card10:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/e693773a595b42a1a137aebb0137497c_9366/STUNICON_SHOES_Blue_GA0898_02_standard_hover.jpg');
}

.card .card11:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/8185bd314c4f48e38ec9ae32009951fa_9366/ADI_ZOOM_SHOES_Black_GA0868_02_standard_hover.jpg');
}

.card .card12:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/e52e019e28f042c1a077af5400ec01fb_9366/Pureboost_22_Shoes_Black_HP9014_02_standard_hover.jpg');
}

.card .card13:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/8b7f2395486846f4b8f9af49006a43d2_9366/HYPERON_1.0_SHOES_Grey_CM4822_02_standard_hover.jpg');
}

.card .card14:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/0333d0ea05a94d8c8b4daf8000bacf91_9366/Galaxy_6_Shoes_Green_HP2418_02_standard_hover.jpg');
}

.card .card15:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/a49591e560be4903b5f3647881918ff8_9366/Ultraboost_Light_Shoes_Green_IE1767_HM3_hover.jpg');
}

.card .card16:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/1f571eb03cfd4e5792e7ae84003232e1_9366/Ultra_4DFWD_Shoes_Black_GX6632_02_standard_hover.jpg');
}

.card .card17:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/0fae64d233a64e8799ab262a8c0d8650_9366/Supernova_Rise_Shoes_Black_IG5846_HM3_hover.jpg');
}

.card .card18:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/db5a63951c5a42f2a3eaae88018a08e1_9366/Galaxy_6_Shoes_Black_GW3848_02_standard_hover.jpg');
}

.card .card19:hover img {
    content: url('https://assets.adidas.com/images/h_2000,f_auto,q_auto,fl_lossy,c_fill,g_auto/4993e0557d224195ace1afb000bc171f_9366/Ultraboost_Light_Red_HQ1402_02_standard_hover.jpg');
}

.card .card20:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/579291ff6f4c4972ad9dab4a00a0c7fc_9366/Ultimashow_Shoes_Black_FX3632_02_standard_hover.jpg');
}

.card .card21:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/93a47e10a8434b8daef4af0e0090d866_9366/WIND_RAISER_SHOES_Blue_GB2514_02_standard_hover.jpg');
}

.card .card22:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/3f3b1b7c155444338733adcd00844fe2_9366/FLUIDFLOW_2.0_RUNNING_SHOE_Blue_EX2102_02_standard_hover.jpg');
}

.card .card23:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/9a3c17f0964044059607af420143011f_9366/Ultraboost_1.0_Shoes_White_HQ6441_010_hover_standard.jpg');
}

.card .card24:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/e693773a595b42a1a137aebb0137497c_9366/STUNICON_SHOES_Blue_GA0898_02_standard_hover.jpg');
}

.card .card25:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/8185bd314c4f48e38ec9ae32009951fa_9366/ADI_ZOOM_SHOES_Black_GA0868_02_standard_hover.jpg');
}

.card .card26:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/e52e019e28f042c1a077af5400ec01fb_9366/Pureboost_22_Shoes_Black_HP9014_02_standard_hover.jpg');
}

.card .card27:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/8b7f2395486846f4b8f9af49006a43d2_9366/HYPERON_1.0_SHOES_Grey_CM4822_02_standard_hover.jpg');
}

.card .card28:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/0333d0ea05a94d8c8b4daf8000bacf91_9366/Galaxy_6_Shoes_Green_HP2418_02_standard_hover.jpg');
}