@import url(https://db.onlinewebfonts.com/c/c0cd6ec8ce6d2bbd315a13b62ed13550?family=AdihausDIN);

body {
    font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
    font-weight: lighter;
}

.hot {
    /* color: red !important; */
    margin-left: 10.5rem;
}

.shop-now {
    margin-left: 0.1% !important;
}

.product-container-2 {
    width: 100%;
    margin: auto !important;
}

.pre-btn-2,
.nxt-btn-2 {
    display: none;
}

.carosul-2 {
    display: flex;
    justify-content: center;
}

/* Button Css*/
.buttonwrap {
    background-color: none;
    border: 1px solid white;
}

.signupButton svg {
    transform: rotate(180deg);
    width: 2rem;
    margin-bottom: 4px;
}

.signupButton {
    align-items: center;
    border: none;
    border-radius: 0;
    cursor: pointer;
    display: flex;
    padding: 7px 10px;
    position: relative;
    width: auto;
    justify-content: flex-start;
    transform: translate(-3px, -3px);
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

.free {
    background-color: white;
    border-color: white;
    color: black;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 20px;
    text-decoration: none;
    transition: 0.2s;
}

.free:hover {
    transform: translate(0px, 0px);
    /* -webkit-tap-highlight-color: rgba(138, 136, 136, 0); */
    opacity: 0.1px;
}

.free:hover {
    color: #767677;
}

/* Button css ended */

/* Handling button position */
.navbar {
    position: fixed;
}

.home-buttons-container {
    bottom: 40%;
}

.men-home-p {
    position: absolute;
    z-index: 9999;
    top: 42%;
    left: -10%;
    color: white;
    font-size: 1.2rem;
}

.winter-men-p {
    left: 10%;
    top: 45%;
}

.footerX .containerwomen {

    text-align: center;
    justify-content: center;
    margin-bottom: 2rem;
    line-height: 30px;
    /* padding:60px; */
}

.containerwomen h2 {
    margin: 10px 0px;
    font-size: 30px;
    font-weight: 700;
    justify-content: center;
    text-align: center;
}

.containerwomen p {

    margin: auto;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    width: 60%;



}

@media screen and (min-width: 290px) and (max-width: 600px) {
    .footerX {
        justify-content: left;
        text-align: left;
        margin-left: 10%;
    }

    .footerX .containerwomen h2 {
        justify-content: center;
        text-align: left;

    }

    .footerX .containerwomen p {

        text-align: left !important;
        font-size: 16px;
        width: 100%;

        /* padding-block:20px;
        padding-inline:15px; */
    }

}


@import url(https://db.onlinewebfonts.com/c/c0cd6ec8ce6d2bbd315a13b62ed13550?family=AdihausDIN);

body {
    margin: 0;
    padding: 0;
    /* font-family: 'AdihausDIN'; */
}

.footer {
    background-color: #f5f5e5;
    align-items: center;
    width: 100%;
    display: flex;
}

.container {
    display: flex;
    column-gap: 3.125rem;
    width: 80%;
    margin: auto;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
    align-content: center;
}

.left-half,
.right-half {

    box-sizing: border-box;
}

.left-half h1 {
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 2.25rem;
    margin: 0px 0px 0.625rem;
    text-decoration: none solid rgb(0, 0, 0);

}

.right-half h2 {
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 2.25rem;
    margin: 0px 0px 0.625rem;

}

.left-half p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375rem;
}

.bar-2 ul {
    gap: 0.9rem !important;
}

.right-half p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375rem;
}

.blackNavbefore {
    background-color: black;
    color: white;
    padding: 0.938rem;
    display: flex;
    justify-content: space-around;
    font-size: 0.875rem;
    font-weight: 700;
    border-top: transparent;
}

.yellow {
    background-color: #ede734;
    padding: 2.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.yellow .footerCaption {
    margin-left: 20%;
    margin-right: 20%;
    font-weight: bolder;
    font-size: 1.875rem;
    transform: scaleY(0.9);
    flex-wrap: nowrap;
    -webkit-text-stroke-width: 1px;
    width: 50%;
    letter-spacing: 1px;
}

.buttonwrapCss {
    margin-right: 10rem;
    background-color: none;
    border: 1px solid black;
}

.signupButtonCss svg {
    transform: rotate(180deg);
    width: 2rem;
    margin-bottom: 4px;
}

.signupButtonCss {
    align-items: center;
    border: none;
    border-radius: 0;
    cursor: pointer;
    display: flex;
    padding: 7px 10px;
    position: relative;
    width: auto;
    justify-content: flex-start;
    transform: translate(-3px, -3px);
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

.freeCss {
    background-color: black;
    border-color: black;
    color: white;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 20px;
    text-decoration: none;
    transition: 0.2s;
}

.freeCss:hover {
    transform: translate(0px, 0px);
    /* -webkit-tap-highlight-color: rgba(138, 136, 136, 0); */
    opacity: 0.1px;
}

.freeCss:hover {
    color: #767677;
}

.buttonContentCss {
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

.buttonContentCss .material-symbols-sharp {
    font-size: 15rem;
}

.afterblacknav {
    background-color: black;
    font-size: 0.938rem;
    display: flex;
    color: white;
    justify-content: space-around;
}

.afterblacknav ul {
    list-style: none;
}

.afterblacknav li {
    padding: 0.625rem 0.938rem;

}

.afterblacknav a {
    text-decoration: none;
    color: white;
}

.afterblacknav a:hover {
    text-decoration: underline;
}

.footerlist {
    /* width:65%; */
    margin: auto;
    padding-bottom: 1.25rem;
    display: flex;
    justify-content: center;
}

.footerlist h5 {
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.footerlist li {
    list-style: none;
    font-size: 0.875rem;
    margin-bottom: 0.625rem;
    cursor: pointer;
}

.adi-list-product {
    padding: 1.25rem;
}

.adi-list-sports {
    padding: 1.25rem;
}

.adi-list-collections {
    padding: 1.25rem;
}

.adi-list-support {
    padding: 1.25rem;
}

.adi-list-company-info {
    padding: 1.25rem;
}

.adi-list-follow-us {
    padding: 1.25rem;
}

.grayfooter {
    background-color: #282c31;
    /* width:100%; */
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.topcontent {
    color: #D3D7DA;
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 500;
}

.bottomcontent {
    color: #D3D7DA;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500;
}

@media screen and (min-width: 290px) and (max-width: 959px) {
    .footer .container {
        flex-direction: column;
    }

    .footer .left-half,
    .footer .right-half {
        width: 100%;
    }

    .yellow {
        flex-direction: column !important;
    }

    .footerCaption {
        margin: auto;
        text-align: center;
        font-size: 1.3rem !important;
    }

    .buttonwrapCss {
        margin-right: 0rem;
    }

    .footerlist {
        display: none;
    }
}

@media screen and (min-width:960px) {
    .blackNavbefore {
        display: none;
    }

    .afterblacknav {
        display: none;
    }

    .yellow .footercaption {
        display: inline-block;

    }

}


@media screen and (max-width:1062px) {
    .men-home-p {
        left: 10%;
        top: 75%;
    }
}

@media screen and (max-width:400px) {
    .home-buttons-container {
        bottom: -60% !important;
    }

    .men-home-p {
        top: 122% !important;
    }

    .winter-men-p {
        top: 80% !important;
    }
}

.hot {
    margin-left: 10% !important;
}

.carosul-2 {
    margin-top: 3.5rem !important;
}

@media screen and (max-width:1442px) {
    .carosul-2 {
        margin-top: 0 !important;
        margin-left: 4rem !important;
    }
}

@media screen and (max-width:600px) {
    .carosul-2 {
        margin-left: 0 !important;
    }

    .hot {
        margin-left: 0% !important;
    }
}

.hot {
    margin-left: 10.5% !important;
    margin-bottom: -4rem !important;
}

.carosul-2 {
    margin-top: 0 !important;
    margin-left: -2rem !important;
}

@media screen and (max-width:1490px) {
    .carosul-2 {
        margin-top: 0 !important;
        margin-left: 1rem !important;
    }

    .hot {
        margin-left: 11% !important;
        margin-bottom: 0rem !important;
    }
}